.overlay {
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
}

.modal-slg {
    width: 700px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.tooltip-modal {
    z-index: 2000 !important;
}

th.fit, td.fit {
    white-space: nowrap;
    width: 1%;
}
