body {
    background-color: black;
    background-image: url('/image/share_page_bg.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.navbar {
    float: none;
    min-height: 10%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 10vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.navbar-default {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
}
.navbar-brand {
    font-size: 25px;
    color: white !important;;
    display: inline-block;
}
.navbar-brand > img {
    height: inherit;
    padding: 10px;
}

.app-intro {
    text-align: center;
}

.center-view {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#share_page_icon {
    width: 100px;
    display: inline-block;
}

#share_page_label {
    width: 80%;
    height: 100px;
    margin-top: 10px;
    display: inline-block;
    background-image: url('/image/share_page_label.png');
    background-repeat: no-repeat;
    background-size: contain;
}
