<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>배너광고 관리</title>
        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
        <%- include common.style.ejs %>
        <link href="../css/dashboard.css" rel="stylesheet">
        <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
        <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <%- include header %>
        <div class="container-fluid">
            <div class="row">
                <%- include sidebar %>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h2 class="sub-title">앱 내부 배너 관리 <span role="button" class="btn btn-primary" data-toggle="modal" data-target="#add_banner_modal">배너 추가</span></h2>
                    <div id="alert_container"></div>

                    <table id="banner_table" class="table table-hover table-striped">
                        <thead>
                            <th>#</th>
                            <th>이미지 url</th>
                            <th>배너 링크</th>
                            <th>설명</th>
                            <th>업로드 시간</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <th><%= i+1 %></th>
                                    <th><%= data[i].img_url %></th>
                                    <th><%= data[i].web_link %></th>
                                    <th><%= data[i].description %></th>
                                    <!-- parse time -->
                                    <% var time = new Date(data[i].upload_time); %>
                                    <th><%= time.getFullYear()+ '년 ' + (time.getMonth()+1) +'월 ' + time.getDate() +'일 ' + time.getHours() +'시 ' + time.getMinutes() +'분 ' + time.getSeconds() +'초'  %></th>
                                    <th><button role="button" class="btn btn-danger btn-block">삭제</button></th>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <!-- banner add modal -->
                    <div id="add_banner_modal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">배너 등록</h2>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="banner_image">배너 이미지</label><br>
                                            <span id="banner_image_btn" role="button" class="btn btn-info btn-file btn-lg">배너 이미지 선택 <input id="banner_image" type="file"></span><br><br>
                                            <img id="banner_image_preview" src="#" alt="banner_image" width="100%" />
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="banner_detail">클릭 시 보여질 이미지</label><br>
                                            <span id="banner_detail_btn" role="button" class="btn btn-info btn-file btn-lg">이미지 선택 <input id="banner_detail" type="file" ></span><br><br>
                                            <img id="banner_detail_preview" src="#" alt="banner_detail" width="100%" />
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label for="banner_description">설명(선택)</label>
                                            <textarea id="banner_description" class="form-control" name="banner_description" rows="3" placeholder="설명을 입력해주세요."></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button role="button" class="btn btn-default btn-lg" data-dismiss="modal" data-target="#add_banner_modal">취소</button>
                                    <button id="banner_submit" role="button" class="btn btn-primary btn-lg">등록하기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- banner remove modal -->
                    <div id="remove_banner_modal" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">

                                </div>
                                <div class="modal-footer">
                                    <button role="button" class="btn btn-default btn-lg" data-dismiss="modal" data-target="#remove_banner_modal">취소</button>
                                    <button id="banner_remove_confirm" role="button" class="btn btn-danger btn-lg">삭제</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <%- include common.js.ejs %>
        <script src="/js/banner.js"></script>
    </body>
</html>
