<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet"></link>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

<link href="../css/console_common.css" rel="stylesheet"></link>
