<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DOTATTOO management console</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <%- include common.style.ejs %>
    <link href="../css/dashboard.css" rel="stylesheet">
    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

  <!-- include header layout -->
  <% include header %>

  <div class="container-fluid">
    <div class="row">
      <%- include sidebar %>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="alert_container"></div>
        <h1 class="page-header">유저 관리</h1>

        <h2 class="sub-header">타투이스트 <%= tattooists.length %>명</h2>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>실명</th>
                <th>타투이스트명</th>
                <th>실제 주소</th>
                <th>이메일</th>
                <th>연락처</th>
                <th class="fit">연락처 노출</th>
                <th class="fit">상담하기 노출</th>
              </tr>
            </thead>
            <tbody>
                <!-- dynamically add table item -->
                <% for(var i = 0; i < tattooists.length; i++) { %>
                     <tr data-toggle="modal" data-target="#tattooist_info_modal" data-tattooist='<%= JSON.stringify(tattooists[i]) %>'>
                         <th class="fit"><%= !tattooists[i].tattooist.name ? '-' : tattooists[i].tattooist.name %></th>
                         <th class="fit"><%= !tattooists[i].name ? '-' : tattooists[i].name %></th>
                         <th><%= !tattooists[i].tattooist.address ? '-' : tattooists[i].tattooist.address %></th>
                         <th><%= !tattooists[i].email ? '-' : tattooists[i].email %></th>
                         <th><%= !tattooists[i].phone ? '-' : tattooists[i].phone %></th>
                         <!-- <th><%= !tattooists[i].bank_account ? '-'
                             : tattooists[i].bank_account.bank + ' '
                             + tattooists[i].bank_account.account_num + ' '
                             + tattooists[i].owner %></th> -->
                         <th><% if(tattooists[i].tattooist.status.show_contact) { %>
                                <button id="<%= 'change_state_contact_'+ i %>" type="button" class="state-contact btn btn-success btn-block" data-tattooist='<%= JSON.stringify(tattooists[i]) %>'>연락처</button>
                             <% } else { %>
                                 <button id="<%= 'change_state_contact_'+ i %>" type="button" class="state-contact btn btn-default btn-block" data-tattooist='<%= JSON.stringify(tattooists[i]) %>'>연락처</button>
                             <% } %>
                         </th>
                         <th><% if(tattooists[i].tattooist.status.show_consult) { %>
                                <button id="<%= 'change_state_consultt_'+ i %>" type="button" class="state-consult btn btn-success btn-block" data-tattooist='<%= JSON.stringify(tattooists[i]) %>'>상담하기</button>
                            <% } else { %>
                                <button id="<%= 'change_state_contsult_'+ i %>" type="button" class="state-consult btn btn-default btn-block" data-tattooist='<%= JSON.stringify(tattooists[i]) %>'>상담하기</button>
                            <% } %>
                         </th>
                    </tr>
                <% }  %>
            </tbody>
          </table>
        </div>

        <!-- tattooist user info modal -->
        <div id="tattooist_info_modal" class="modal fade" role="modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2><span id="tattooist_user_info_header_title">타투이스트 정보</span></h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">타투이스트 정보</div>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>실명</th>
                                                <th id="tattooist_info_real_name"></th>
                                            </tr>
                                            <tr>
                                                <th>타투이스트 이름</th>
                                                <th id="tattooist_info_name"></th>
                                            </tr>
                                            <tr>
                                                <th>주소</th>
                                                <th id="tattooist_info_address"></th>
                                            </tr>
                                            <tr>
                                                <th>실제 주소</th>
                                                <th id="tattooist_info_real_address"></th>
                                            </tr>
                                            <tr>
                                                <th>연락처</th>
                                                <th id="tattooist_info_phone"></th>
                                            </tr>
                                            <tr>
                                                <th>이메일</th>
                                                <th id="tattooist_info_email"></th>
                                            </tr>
                                            <tr>
                                                <th>계좌 정보</th>
                                                <th id="ttattooist_info_account"></th
                                            </tr>
                                            <tr>
                                                <th>가입 유형</th>
                                                <th id="tattooist_info_account_type"></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <img id="tattooist_info_profile_img" src="#" height="170vh" >
                            </div>
                        </div>
                        <!-- user information -->
                        <p>

                    </div>
                    <div class="modal-footer">
                        <!-- user ban button -->
                        <button tyoe="button" class="btn btn-danger" >탈퇴시키기</button>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="sub-header">유저 <%= users.length %>명</h2>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>이름</th>
                        <th class="fit">가입 유형</th>
                        <th>게시물 개수</th>
                        <th>견적 받은 횟수</th>
                        <th>예약 횟수</th>
                    </tr>
                    <tbody>
                        <% for(var i = 0; i < users.length; i++) { %>
                            <tr>
                                <th class="fit"><%= !users[i].name ? '-' : users[i].name %></th>
                                <% if(users[i].social.kakao) { %>
                                    <th>kakao</th>
                                <% } else if(users[i].social.facebook) { %>
                                    <th>facebook</th>
                                <% } else { %>
                                    <th>-</th>
                                <% } %>
                                <th></th>
                                <th></th>
                            </tr>
                        <% } %>
                    </tbody>
                </thead>
            </table>
        </div>

      </div>
    </div>
  </div>

  <%- include common.js.ejs %>
  <script src="../js/console.js"></script>

?</body>
</html>
