<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Ahn Jae Wook">

    <title>DOTATTOO console login</title>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <%- include common.style.ejs %>
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">DOTATTOO</br>console Login</h2>
        <label for="id" class="sr-only">ID</label>
        <input type="text" id="id_field" name="id" class="form-control" placeholder="ID" required autofocus>
        <label for="pw" class="sr-only">Password</label>
        <input type="password" id="pw_field" name="pw" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">아이디 저장
          </label>
        </div>
        <button id="login_btn" class="btn btn-lg btn-primary btn-block" type="button">로그인</button>
      </form>

    </div> <!-- /container -->


    <% include common.js.ejs %>
    <script src="/js/login.js"></script>
  </body>
</html>
