<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>추천 검색 키워드 관리</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <%- include common.style.ejs %>
    <link href="../css/dashboard.css" rel="stylesheet">
    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<%- include header %>
<div class="container-fluid">
    <div class="row">
        <%- include sidebar %>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-title">추천 검색 키워드 관리 <span role="button" class="btn btn-primary" data-toggle="modal" data-target="#add_banner_modal">배너 추가</span></h2>
            <div id="alert_container"></div>

        </div>
    </div>
</div>

<%- include common.js.ejs %>
<script src="/js/banner.js"></script>
</body>
</html>
