<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">메뉴</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/console">DOTATTOO console</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/console">유저 관리</a></li>
        <li><a href="/tattooist/request">타투이스트 신청 현황</a></li>
        <li><a href="/reservation">예약 관리</a></li>
        <li><a href="/console/banner">앱 내부 배너 관리</a></li>
        <li><a href="/console/push">광고 푸시알림 관리</a></li>
      </ul>
    </div>
  </div>
</nav>
