<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>푸시알림 관리</title>
        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
        <%- include common.style.ejs %>
        <link href="../css/dashboard.css" rel="stylesheet">
        <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
        <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    </head>
    <body>
        <%- include header %>

        <div class="container-fluid">
            <div class="row">
                <%- include sidebar %>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <div id="alert_container" class="overlay"></div>

                    <h2>광고 푸시알림 관리</h2>

                    <form>
                        <div class="form-group">
                            <label for="push_message">푸시 메세지 타이틀</label>
                            <input id="push_message_field" type="text" class="form-control" name="push_message" placeholder="메세지 타이틀에 표시될 내용을 적어주세요.">
                        </div>
                        <div class="form-group">
                            <label for="push_content">푸시 메세지 내용</label>
                            <input id="push_message_content_field" type="text" class="form-control" name="push_content" placeholder="두번째 줄에 표시할 내용을 적어주세요.">
                        </div>
                        <div class="form-group">
                            <label for="target_user_ids_table">보낼 유저 선택</label>
                            <table id="target_user_ids_table" class="table table-hover table-striped" data-toggle="table"
                                data-height="1000px"
                                data-toolbar="#target_user_ids_toolbar"
                                data-pagination="true"
                                data-click-to-select="true"
                                data-locale="ko-KR"
                                data-token>
                                <thead>
                                    <th class="bs-checkbox" data-checkbox="true"><input id="push_check_all" type="checkbox" name="push_check_all" value=""></th>
                                    <th>유저 이름</th>
                                    <th data-field="user_id">유저 ID</th>
                                    <th data-visible="false">등록된 기기 수</th>
                                    <th>유저 타입</th>
                                    <th data-field="token" data-visible="false">토큰</th>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < token.length; i++) { %>
                                    <tr data-index="<%= i %>">
                                        <td class="bs-checkbox" data-checkbox="true"><input data-index="<%= i %>" type="checkbox" name="push_checkbox" value="0"></td>
                                        <td><%= token[i].user_id.name %></td>
                                        <td><%= token[i].user_id._id %></td>
                                        <td><%= token[i].registration_ids.length %></td>
                                        <td><%= token[i].user_id.type %></td>
                                        <% var ids = token[i].registration_ids.join('\ntoken.') %>
                                        <td><%= ids.toString() %></td>
                                    </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" id="push_send_btn" class="btn btn-primary">푸시 보내기</button>
                    </form>
                    <hr>
                    <br>
                    <!-- Push notification history -->
                    <h3>푸시알림 히스토리</h3>
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>#</th>
                            <th>메세지 제목</th>
                            <th>메세지 내용</th>
                            <th>알림을 보낸 기기 수</th>
                            <th>발송 날짜</th>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < data.length; i++) { %>
                            <tr>
                                <th class="fit"><%= i+1 %></th>
                                <th><%= data[i].message %></th>
                                <th><%= data[i].message_content %></th>
                                <th><%= data[i].target_user_ids.length %></th>
                                <% var time = new Date(data[i].send_time); %>
                                <th><%= time.getFullYear()+'년 '+
                                    time.getMonth()+1+'월 ' +
                                    time.getDate()+'일' +
                                    time.getHours()+'시 ' +
                                    time.getMinutes()+'분 ' +
                                    time.getSeconds()+'초'
                                    %></th>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>

                    <!-- 푸시 전송 확인창 -->
                    <div id="push_confirm_modal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-slg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">아래의 정보로 푸시알림을 보내시겠습니까?</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">메세지 타이틀</h2>
                                        </div>
                                        <div class="panel-body">
                                            <!-- message title -->
                                            <span id="push_confirm_message_title" ></span>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">메세지 내용</h2>
                                        </div>
                                        <div class="panel-body">
                                            <!-- message content -->
                                            <span id="push_confirm_message_content"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="push_cancel" type="button" role="button" class="btn btn-default">취소</button>
                                    <button id="push_confirm" type="button" role="button" class="btn btn-primary" >보내기</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <%- include common.js.ejs %>
        <!-- Latest compiled and minified JavaScript -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
        <!-- Latest compiled and minified Locales -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-ko-KR.min.js"></script>

        <script src="/js/push_controller.js"></script>

    </body>
</html>
