<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>예약 관리</title>
    <%- include common.style.ejs %>
    <link href="../css/dashboard.css" rel="stylesheet">
    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <% include header %>
    <div class="container-fluid">
        <div class="row">
            <% include sidebar %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">예약 관리</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>예약자명</th>
                                <th>타투 이름</th>
                                <th>예약 날짜</th>
                                <th>타투이스트</th>
                                <th>결제 총 금액</th>
                                <th>예약 금액</th>
                                <th>예약 등록 시간</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < reservation.length; i++) { %>
                                <tr data-toggle="modal" data-target="#res_detail_modal" data-reservation='<%= JSON.stringify(reservation[i]) %>'>
                                    <th class="fit"><%= reservation[i].request.user_id.name %></th>
                                        <th><%= reservation[i].request.info.tattoo_name %></th>
                                    <th class="fit"><% var date = new Date(reservation[i].request.info.date); %>
                                    <%= date.getFullYear() %>년 <%= date.getMonth()+1 %>월 <%= date.getDate() %>일 <%= date.getHours() %>시 <%= date.getMinutes() %>분</th>
                                    <th><%= reservation[i].request.tattooist_id.name %></th>
                                    <th><%= reservation[i].request.info.price.toLocaleString() %>원</th>
                                    <th><%= reservation[i].request.info.reservation_price.toLocaleString() %>원</th>
                                    <th class="fit"><% var reservation_time = new Date(reservation[i].reservation_time) %>
                                    <%= reservation_time.getFullYear() %>년 <%= reservation_time.getMonth()+1 %>월 <%= reservation_time.getDate() %>일 <%= reservation_time.getHours() %>시 <%= reservation_time.getMinutes() %>분 <%= reservation_time.getSeconds() %>초</th>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <!-- Reservation detail modal -->
                    <div id="res_detail_modal" class="modal fade" role="dialog" labelledBy="res_detail_modal_title">
                        <div class="modal-dialog modal-slg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="닫기"><span aria-hidden="true">&times;</span></button>
                                    <h2 id="res_detail_modal_title" class="modal-title-lg"></h2>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img id="res_detail_modal_tattoo_img" />
                                            <p>
                                            <div class="panel panel-info">
                                                <div class="panel-heading">타투 예약 정보</div>
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <th>타투이스트</th>
                                                            <th><span id="res_detail_modal_tattooist_name"></span></th>
                                                        </tr>
                                                        <tr>
                                                            <th>타투 이름</th>
                                                            <th><span id="res_detail_modal_tattoo_name"></span></th>
                                                        </tr>
                                                        <tr>
                                                            <th>타투 장르</th>
                                                            <th><span id="res_detail_modal_tattoo_genre"</th>
                                                        </tr>
                                                        <tr>
                                                            <th>타투 부위</th>
                                                            <th><span id="res_detail_modal_tattoo_part"</th>
                                                        </tr>
                                                        <tr>
                                                            <th>예약 장소</th>
                                                            <th><span id="res_detail_modal_tattoo_place"</th>
                                                        </tr>
                                                        <tr>
                                                            <th>예약 날짜</th>
                                                            <th><span id="res_detail_modal_reservation_date"></span></th>
                                                        </tr>
                                                        <tr>
                                                            <th>결제 총 금액</th>
                                                            <th><span id="res_detail_modal_total_price"></span></th>
                                                        </tr>
                                                        <tr>
                                                            <th>예약 금액</th>
                                                            <th><span id="res_detail_modal_reservation_price"></span></th>
                                                        </tr>
                                                        <tr>
                                                            <th>예약 등록 시간</th>
                                                            <th><span id="res_detail_modal_reservation_time"></spam></th>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div><!-- end content row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="btn btn-info btn-file btn-block" data-toggle="tooltip" title="예약 확인 이미지를 등록해주세요!">예약정보 사진 선택 <input id="reservation-file" type="file"/></span>
                                        </div>
                                    </div>
                                    <p>
                                    <!--reservation confirm image area -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img id="img_prev" class="img-rounded" src="" width="650px">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="reservation_confirm" type="button" class="btn btn-primary">예약 확인 보내기</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- end of modal -->

                </div>
            </div>
        </div>
    </div>

    <% include common.js.ejs %>
    <script src="/js/reservation_detail.js"></script>

</body>3
</html>
