<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DOTATTOO</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="/css/share.css"/>

    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="//www.dotattoo.kr" target="_parent"><img src="/image/logo.png"></a>
            </div>
        </nav>
    </header>
    <div class="app-intro">
        <img id="share_page_icon" src="/image/dotattoo_lg_icon.png">
        <div class="center-view"></div>
        <div id="share_page_label"></div>

    </div>
</body>
</html>
