<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <% if(tab === 'user_manage') { %>
        <li class="active">
    <% } else { %><li><% } %>
    <a href="/console">유저 관리
    <% if(tab === 'user_manage') { %>
        <span class="sr-only">(current)</span>
    <% } %></a></li>

    <% if(tab === 'tattooist_request') { %>
        <li class="active">
    <% } else { %><li><% } %>
    <a href="/tattooist/request">타투이스트 신청 현황
    <% if(tab === 'tattooist_request') { %>
        <span class="sr-only">(current)</span>
    <% } %></a></li>

    <% if(tab === 'reservation_manage') { %>
        <li class="active">
    <% } else { %><li><% } %>
    <a href="/reservation">예약 관리
    <% if(tab === 'reservation_manage') { %>
        <span class="sr-only">(current)</span>
    <% } %></a></li>

    <% if(tab === 'banner') { %>
        <li class="active">
    <% } else { %><li><% } %>
    <a href="/console/banner">앱 내부 배너 관리
    <% if(tab === 'banner') { %>
        <span class="sr-only">(current)</span>
    <% } %></a></li>

    <% if(tab === 'push') { %>
        <li class="active">
    <% } else { %><li><% } %>
    <a href="/console/push">광고 푸시알림 관리
    <% if(tab === 'push') { %>
        <span class="sr-only">(current)</span>
    <% } %></a></li>

    <% if(tab === 'find_recommendation') { %>
        <li class="active">
    <% } else { %><li><% } %>
        <a href="/find_recommendation">추천 검색 키워드 관리
    <% if(tab === 'find_recommendation') { %>
        <span class="sr-only">(current)</span>
    <% } %></a></li>

  </ul>
</div>
