<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>타투이스트 신청 관리</title>
    <%- include common.style.ejs %>
    <link href="../css/dashboard.css" rel="stylesheet">
    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <% include header %>

    <div class="container-fluid">
        <div class="row">
            <% include sidebar %>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">타투이스트 신청 현황</h2>

                <!-- success alert when showing tattooist request are successfully procceeded. -->
                <div id="tattooist_request_alert" ></div>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>실명</th>
                                <th>타투이스트명</th>
                                <th>활동지역</th>
                                <th>이메일</th>
                                <th>연락처</th>
                                <th>신청 시간</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tobdy>
                            <% for(var i = 0; i < data.length; i++) {  %>
                                <tr data-toggle="modal" data-target="#tattooist_request_detail_modal" data-request='<%= JSON.stringify(data[i]) %>'>
                                    <th class="fit"><%= data[i].real_name %></th>
                                    <th><%= data[i].request_user_id.name %></th>
                                    <th><%= data[i].place %></th>
                                    <th class="fit"><%= data[i].email %></th>
                                    <th class="fit"><%= data[i].phone %></th>
                                    <% var req_time = new Date(data[i].requested_time); %>
                                    <th class="fit"><%= req_time.getFullYear() + '년 ' + req_time.getMonth()+1 + '월 ' + req_time.getDay() + '일 ' + req_time.getHours() + '시 ' + req_time.getMinutes() + '분 ' + req_time.getSeconds() + '초' %></th>
                                    <th class="fit">
                                    <% if(data[i].status == 'requested') { %>
                                        <button id="delete_modal_btn" type="button" class="btn btn-danger" data-request='<%= JSON.stringify(data[i]) %>'>X</button>
                                    <% } else { %>
                                        <button type="button" class="btn btn-info">완료</button>
                                    <% } %>
                                    </th>
                                </tr>
                            <% } %>
                        </tobdy>
                    </table>
                </div>

                <div id="tattooist_request_detail_modal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 id="request_header" class="modal-title-lg" >타투이스트 신청정보</h2>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <h4>실명</h4>
                                            <span id="real_name"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <h4>타투이스트명</h4>
                                            <span id="tattooist_name"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <h4>활동지역</h4>
                                            <span id="place"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <h4>이메일</h4>
                                            <span id="email"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <h4>연락처</h4>
                                            <span id="phone"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <h4>신청 시간</h4>
                                            <span id="requested_time"></span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <h4>실제 주소</h4>
                                            <span id="address"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <h4>자기소개</h4>
                                            <span id="introduction"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="tattooist_request_submit" role="button" class="btn btn-primary">타투이스트로 변경</button>
                                <button id="tattooist_request_delete" role="button" class="btn btn-danger">요청 삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="delete_modal" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 id="delete_tattooist_request_user_name" class="modal-title-lg" >타투이스트 요청을 삭제하시겠습니까?</h2>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <h4>실명</h4>
                                            <span id="real_name"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <h4>타투이스트명</h4>
                                            <span id="tattooist_name"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <h4>활동지역</h4>
                                            <span id="place"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <h4>이메일</h4>
                                            <span id="email"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <h4>연락처</h4>
                                            <span id="phone"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <h4>신청 시간</h4>
                                            <span id="requested_time"></span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <h4>실제 주소</h4>
                                            <span id="address"></span>
                                        </p><br>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <h4>자기소개</h4>
                                            <span id="introduction"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="delete_request_cancel" role="button" data-dismiss="modal" class="btn btn-default" >취소</button>
                                <button id="delete_request_confirm" role="button" class="btn btn-danger" >삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <% include common.js.ejs %>
    <script src="/js/request_detail.js"></script>
</body>
</html>
